body {
    margin: 0;
    padding: 30px;
    font-family: Roboto, sans-serif;
    font-size: 100%;
    color: #444;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a {
    color: #c80000;
    text-decoration: none;
    border-bottom: 3px solid #ccc;
    transition: border 0.25s ease-in;
}

a:hover {
    border-color: #999;
}

h1, h2,
h3, h4 {
    margin: 1rem 0;
}

p {
    margin: 0 0 1rem 0;
}

pre, code {
    margin: 1rem 0;
    font-family: Roboto Mono, monospace;
    font-size: 0.9rem;
    color: #c80000;
    line-height: 1;
}

pre {
    padding: 2px;
}

@media (max-width: 480px) {
    pre {
        overflow-x: scroll;
    }
}
